<!-- <div class="layout-sidebar">
    <a [routerLink]="['dashboards/home']" class="app-logo ml-5">
        <h2 width="124" height="22" viewBox="0 0 124 22" fill="none">UYSIMS</h2>
        <svg width="124" height="22" viewBox="0 0 124 22" fill="none" xmlns="http://www.w3.org/2000/svg" class="app-logo-normal">
            uss
        </svg>
        <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg" class="app-logo-small">
            <path d="M10.4851 0L0 20.9465H3.53702L10.4856 6.07843L17.2944 20.9465H20.9715L10.4851 0Z" fill="var(--logo-color)"/>
            <path d="M13.8399 15.793L16.2076 21.0019H11.7681L13.8399 15.793Z" fill="var(--logo-color)"/>
            <path d="M9.04637 21.0019L6.67867 15.793L4.60693 21.0019H9.04637Z" fill="var(--logo-color)"/>
        </svg>    
    </a>

    <div class="layout-menu-container">
        <app-menu></app-menu>
    </div>
</div> -->

<div class="layout-sidebar">
    <a *ngIf="userRole != 'Student'" [routerLink]="['/dashboard']"   class="pt-5 pl-3">
        <!-- <img src="assets/layout/images/Logo.png" style="width: 180px;"  alt="Info Study"> -->
        GOLDSANDS
    </a>

    <a  *ngIf="userRole == 'Student'" class="pt-5 pl-3">
        <img src="assets/layout/images/Logo.png" style="width: 180px;"  alt="Info Study">
    </a>

    <div class="layout-menu-container">
        <app-menu></app-menu>
    </div>
</div>
